<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="scroll-indicator" [ngClass]="{ 'fade-in-scroll': scrolled }">
      <div
        class="fill"
        [ngClass]="{ down: 'scroll-down', up: 'scroll-up' }[scrollDirection]"
      ></div>
    </div>
    <div class="layer-scroll" (scroll)="scroll($event)">
      <div class="component">
        <div class="component__left">
          <h1 class="title">Something.</h1>
          <p class="pronouns">
            &#123; <span class="spacing">some</span> &#x2022;
            <span class="spacing">thing</span> &#125;
            <span class="italic spacing">noun.</span>
          </p>
          <p class="text__left">
            unknown / confusion / strange <br />
            feelings.
          </p>
        </div>
        <div class="component__right">
          <p class="text__right">
            looking for <span class="italic">something</span><br />
            that left me<br />entangled.
          </p>
        </div>
      </div>
      <div class="choose">
        <div class="day border-right">
          <div class="static-day">
            <p>day 1</p>
          </div>
          <div class="hover-day" (click)="routeToLetter('beauty')">
            <p>Beauty</p>
          </div>
        </div>
        <div class="day border-right">
          <div class="static-day"><p>day 2</p></div>
          <div class="hover-day" (click)="routeToLetter('kindness')">
            <p>Kindness</p>
          </div>
        </div>
        <div class="day border-right">
          <div class="static-day"><p>day 3</p></div>
          <div class="hover-day" (click)="routeToLetter('sincerity')">
            <p>Sincerity</p>
          </div>
        </div>
        <div class="day border-right">
          <div class="static-day"><p>day 4</p></div>
          <div class="hover-day" (click)="routeToLetter('confusion')">
            <p>Confussion</p>
          </div>
        </div>
        <div class="day">
          <div class="static-day"><p>day 5</p></div>
          <div class="hover-day" (click)="routeToLetter('you')">
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
